<p>Welcome to your Dashboard: <%= @name %></p><br>


<h4> <%=  @delta %></h4>

<br>

<h4>Your best day was <%=  @bestDay %> with <%=  @bestValue %> . </h4>

<br>

<h4> You walked <%= @totalStep %> over the last 7 days which is as much as _______ <h4>

<!-- <p> Sleep past seven days <%= @sleep_test %> </p> -->

<%= render 'create_graphs' %>

<div id="barChartContainer" style="height: 300px; width: 100%;">
<div id="lineChartContainer" style="height: 300px; width: 100%;">





