<p>Welcome to your Dashboard: <%= @name %></p><br>



<div id='stepsix' class='hide'><%= @step_count_six_days_ago %></div>
<div id='stepfive' class='hide'><%= @step_count_five_days_ago %></div>
<div id= 'stepfour' class='hide'><%= @step_count_four_days_ago %></div>
<div id='stepthree' class='hide'><%= @step_count_three_days_ago %></div>
<div id='steptwo' class='hide'><%= @step_count_two_days_ago %></div>
<div id='stepone' class='hide'><%= @step_count_one_days_ago %></div>
<div id='stepzero' class='hide'><%= @step_count_zero_days_ago %></div>

<div id='sleepsix' class='hide'><%= @sleep_count_six_days_ago %></div>
<div id='sleepfive' class='hide'><%= @sleep_count_five_days_ago %></div>
<div id='sleepfour' class='hide'><%= @sleep_count_four_days_ago %></div>
<div id='sleepthree' class='hide'><%= @sleep_count_three_days_ago %></div>
<div id='sleeptwo' class='hide'><%= @sleep_count_two_days_ago %></div>
<div id='sleepone' class='hide'><%= @sleep_count_one_days_ago %></div>
<div id='sleepzero' class='hide'><%= @sleep_count_zero_days_ago %></div>

<p> Sleep past seven days <%= @sleep_test %> </p>

<%= render 'create_graphs' %>

<div id="barChartContainer" style="height: 300px; width: 100%;">
<div id="lineChartContainer" style="height: 300px; width: 100%;">



