<p>Welcome to your Dashboard: <%= @name %></p><br>

<p>Total Steps today: <%= @step_count %> steps</p>
<p>Goal for today: <%= @step_goal %> </p>

<p id='fit'><%= [[[@step_goal], [@step_goal],[@step_goal],[@step_goal],[@step_goal]]] %></p>



<p><%= @date_today %></p>
<p><%= @date_one_days_ago %></p>
<p><%= @date_two_days_ago %></p>
<p><%= @date_three_days_ago %></p>
<p><%= @date_four_days_ago %></p>
<p><%= @date_five_days_ago %></p>
<p><%= @date_six_days_ago %></p>
<p><%= @date_seven_days_ago %></p>

<p> Steps for past week <%= @step_count_seven_days_json  %></p>


<%= @test_date %>







<script>
	document.onload = function() {


	};
</script>